:root {
    --light: #EDE7F5;
    --mid: #D2B1FF;
    --neutral: #252941;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header, Nav, and Banner */

.header {
    display: flex;
    position: relative;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral);
    z-index: 1;
}

.profilepic {
    position: relative;
    max-width: 10%;
    border-radius: 100%;
    padding-right: 1%;
    margin-left: 0;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    margin-left: 0;
    padding-right: 15px;
    font-family: 'Fontin', Helvetica, sans-serif;
    font-size: 320%;
    color: var(--neutral);
}

h1::before {
    content: "";
    background-color: var(--mid);
    position: absolute;
    height: 78%;
    width: 45%;
    left: 0;
    z-index: -1;
}

/*h1::after {
    content: "";
    background-color: var(--mid);
    position: absolute;
    height: 78%;
    width: 40%;
    left: 6%;
    z-index: -1;
}*/

nav {
    width: 35%;
   
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    font-family: 'Fontin', Helvetica, sans-serif;
    font-size: 120%;
    color: var(--mid);
    display: inline-block;
    text-decoration-line: underline;
    padding: 10% 2% 0% 2%;
    margin-left: auto;
}

nav a:visited {
    color: var(--light);
}

/* Body */

.topimage {
    position: relative;
    top: 0;
    width: 100%;
    background-color: darkblue;
}

.main {
    background-color: var(--light);
}

.main-sections {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Fontin', Helvetica, sans-serif;
    font-size: 250%;
    color: var(--neutral);
    width: 20%;
    margin: 1% 5% 3% 5%;
    padding-right: 2%;
    text-align: right;
}

/* About Section */

.about {
    display: flex;
    position: relative;
    width: 100%;
    height: 30%;
    padding-top: 1%;
}

.about p {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 100%;
    line-height: 115%;
    color: var(--neutral);
    width: 70%;
    padding-top: 2%;
    padding-right: 5%;
    text-align: justify;
    align-content: flex-start;
}

.about::after {
    content: "";
    border-left: 3px solid var(--neutral);
    height: 85%;
    position: absolute;
    left: 25%;
    top: 13%;
}

/* Work Section */

h3 {
    font-family: 'Fontin', Helvetica, sans-serif;
    font-size: 170%;
    color: var(--neutral);
}

.work {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 3%;
}

.work::after {
    content: "";
    border-left: 3px solid var(--neutral);
    height: 90%;
    position: absolute;
    align-content: center;
    left: 25%;
    top: 8%;
}

/* Big Image */

.imgbox {
    display: flex;
    position: relative;
    max-width: 66%;
}

.img {
    max-width: 100%;
    height: auto;
    margin: 1% 5% 2% 0%;
    border: 4px solid var(--mid);
}

.imgid {
    position: absolute;
    top: 75%;
    left: 0;
    margin: 0;
    padding: 2% 3%;
    height: auto;
    background-color: var(--mid);
}

/* Small Images */

.worksmall {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 69%;
    left: 30%;
}

.smallflex {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.smallimgflex2 {
    display: flex;
    position: relative;
    width: 50%;
}

h4 {
    font-family: 'Fontin', Helvetica, sans-serif;
    font-size: 120%;
}

.imgid2 {
    position: absolute;
    top: 68%;
    left: 0;
    margin: 0;
    padding: 2% 3%;
    height: auto;
    background-color: var(--mid);
    z-index: 1;
}

.imgsmall {
    position: relative;
    width: 92%;
    height: auto;
    margin: 1% 5% 2% 0%;
    border: 4px solid var(--mid);
}

/* Contact Section */

.contact {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 3%;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    float: inline-end;
    align-content: center;
    width: 70%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.contact::after {
    content: "";
    border-left: 3px solid var(--neutral);
    height: 70%;
    position: absolute;
    align-content: center;
    left: 25%;
    top: 20%;
}

.contact a:link {
    color: var(--neutral);
}

.contact a:visited {
    color: darkorchid;
}

.contact li {
    display: inline-block;
    position: relative;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 100%;
    color: var(--neutral);
    text-decoration: underline;
    padding-right: 8%;
}

footer {
    margin: 10%;
}


/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 250%;
    }
}

/* Phones */
@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 225%;
    }

    h2 {
        font-size: 200%;
        text-align: center;
    }

    .contact ul {
        justify-content: center;
    }