:root {
    --light: #EDE7F5;
    --mid: #8EE5EA;
    --neutral: #38414A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral);
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Calibri', Helvetica, sans-serif;
    font-size: 270%;
    color: var(--neutral);

    display: flex;
    justify-content: left;
    align-items: center;
}

h1::before {
    content: "";
    background-color: var(--mid);
    position: absolute;
    height: 78%;
    width: 40%;
    left: 0;
    z-index: -1;
}

h1::after {
    content: "";
    background-color: var(--mid);
    position: absolute;
    height: 78%;
    width: 40%;
    left: 6%;
    z-index: -1;
}

nav {
    width: 50%;
   
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    font-family: 'Calibri', Helvetica, sans-serif;
    font-size: 120%;
    color: var(--mid);
    display: inline-block;
    text-decoration-line: underline;
    padding: 10% 2% 0% 2%;
    margin-left: auto;
}

.topimage {
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: darkblue;
}

.main {
    background-color: var(--light);
}

.main-sections {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: var(--neutral);
    width: 20%;
    margin: 1% 5% 3% 5%;
    padding-right: 2%;
    text-align: right;
}

.about {
    display: flex;
    position: relative;
    width: 100%;
    height: 30%;
    padding-top: 1%;
}

.about p {
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 115%;
    color: var(--neutral);
    width: 70%;
    padding-top: 2%;
    padding-right: 5%;
    text-align: justify;
    align-content: flex-start;
}

.about::after {
    content: "";
    border-left: 3px solid var(--neutral);
    height: 85%;
    position: absolute;
    left: 25%;
    top: 13%;
}

.work {
    display: flex;
    position: relative;
    width: 100%;
}

.work::after {
    content: "";
    border-left: 3px solid var(--neutral);
    height: 70%;
    position: absolute;
    align-content: center;
    left: 25%;
    top: 26%;
}

.contact {
    display: flex;
    position: relative;
    align-items: center;
    /*position: relative;
    justify-content: flex-start;
    margin-left: auto;
    padding-left: 10%;*/
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    float: inline-end;
    width: 70%;
    padding-right: 5%;
}

.contact ul::before {
    /*content: "";
    border-left: 3px solid var(--neutral);
    height: 15%;
    position: absolute;
    left: 25%;
    top: 64%;*/
}

.contact li {
    display: inline-block;
    float: right;
    position: relative;
    font-family: 'Calibri', Helvetica, sans-serif;
    font-size: 100%;
    color: var(--neutral);
    text-decoration: underline;
    margin-left: auto;
}

footer {
    margin: 10%;
}
